openapi: 3.2.0
info:
  title: Aztecprotocol Status API
  version: '2026-09-27'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-27: 4 operation(s) read from 8 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Aztecprotocol has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 3
    documentation: 1
    pages-with-code: 7
    pages-read: 8
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-27'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.aztec.network/developers/docs/resources/migration_notes
  - https://docs.aztec.network/developers/docs/tutorials/contract_tutorials/token_contract
  - https://docs.aztec.network/developers/docs/tutorials/contract_tutorials/counter_contract
  - https://docs.aztec.network/developers/getting_started_on_testnet
  - https://docs.aztec.network/developers/getting_started_on_local_network
  - https://docs.aztec.network/developers/docs/tutorials/testing_governance_rollup_upgrade
  - https://docs.aztec.network/developers/docs/tutorials/contract_tutorials/recursive_verification
  - https://docs.aztec.network/developers/docs/tutorials/js_tutorials/webapp/the-contract
servers:
- url: https://install.aztec.network
tags:
- name: Status
paths:
  /status:
    get:
      operationId: get_status
      tags:
      - Status
      summary: GET /status now returns a JSON body with per-component health
      x-source: https://docs.aztec.network/developers/docs/resources/migration_notes
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatusResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    GetStatusResponse:
      type: object
      properties:
        ok:
          type: boolean
          description: overall health flag
        components:
          type: object
          description: map of component names to their health status
        components.p2p.healthy:
          type: boolean
          description: whether the p2p component is healthy
        components.p2p.enabled:
          type: boolean
          description: whether the p2p component is enabled
        components.p2p.connectedPeers:
          type: integer
          description: number of connected peers
